<!--
 * @Author: your name
 * @Date: 2020-07-21 14:44:59
 * @LastEditTime: 2020-07-21 14:47:39
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \insurance-h5d:\HTwork\project-document\Demo\vueBase1\vuecountDown.html
--> 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>点击开始倒计时</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style></style>
  </head>
  <style>
 
  </style>
  <body>
    <div id="box">
      <span v-if="sendAuthCode" class="c-right" @click="getCode">获取验证码</span>
      <span v-if="!sendAuthCode" class="c-right"> <span class="auth_text_blue">{{auth_time}} </span> 秒之重新发送</span>
    </div>
    <script>
      var vm = new Vue({
        el: "#box",
        data:{
          sendAuthCode: true,/*布尔值，通过v-show控制显示‘获取按钮’还是‘倒计时’ */
          auth_time: 5, /*倒计时 计数器*/
        },
        
        methods:{
          getCode() {
            this.sendAuthCode = false;
            var auth_timetimer = setInterval(() => {
            this.auth_time--;
            if (this.auth_time <= 0) {
              this.sendAuthCode = true;
              clearInterval(auth_timetimer);
            }
          }, 1000);
        },
        }
      });
    </script>
  </body>
</html>
